<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="ftco-footer ftco-bg-dark ftco-section" th:fragment = "footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Air인천</h2>
              <p>당신의 편안한 여행을 위해 최선을 다하겠습니다.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">정보</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">서비스</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">고객 서비스</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">팁&소식 게시판</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">문의</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">인천광역시 이젠</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+010 1234 5678</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">incheon@air.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

          </div>
        </div>
      </div>
    </footer>

</html>